::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.h {
  background-color: black;
  height: 5vh;
  width: 300vw;
}

main {
  scroll-behavior: smooth;
  width: 100vw;
  height: 90vh;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.container-fluid {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

#lab {
  width: 100vw;
  height: 100vh;
  background-color: orange;
}

#hub {
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

#devolution {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

.f {
  background-color: blue;
  height: 5vh;
  width: 300vw;
}
